mat-grid-tile {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 2 rem;
}

.btns-container {
  display: block;
  text-align: center;
  padding: 0.5rem;
  
}

a {
  margin: 0.5rem;
  color: #fff;
}